# ICC CRICKET WORLD CUP 2019
- Collect data::- Use your digital infrastructure and other sources to gather as many useful records as possible and unite them into a dataset.

- Prepare data::- Prepare your data to be processed in the best possible way. Data preprocessing and cleaning procedures can be quite sophisticated, but usually, they aim at filling the missing values and correcting other flaws in data, like different representations of the same values in a column (e.g. December 14, 2016 and 12.14.2016 wonâ€™t be treated the same by the algorithm). 

- Split data::- Separate subsets of data to train a model and further evaluate how it performs against new data.

- Train a model::- Use a subset of historic data to let the algorithm recognize the patterns in it.

- Test and validate a model::- Evaluate the performance of a model using testing and validation subsets of historic data and understand how accurate the prediction is.

- Deploy a model::- Embed the tested model into your decision-making framework as a part of an analytics solution or let users leverage its capabilities (e.g. better target your product recommendations).

- Iterate::- Collect new data after using the model to incrementally improve it.

In [5]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker

In [6]:
pwd

'C:\\Users\\ramab\\Desktop\\GITHUB\\iccworldcupprediction'

In [7]:
#loaddata
worldcup=pd.read_csv('World Cup 2019 Dataset.csv')
results=pd.read_csv('results.csv')

In [8]:
worldcup.head(5)

,Team,Group,Previous_appearances appearances,Previous_ntitles titles,Previous_nfinals finals,Previous_nsemifinals semifinals,Current rank
0,England,A,11,0,3,5,1
1,South Africa,A,6,0,0,4,3
2,West Indies,A,11,2,3,4,8
3,Pakistan,A,11,1,2,6,6
4,New Zealand,A,11,0,1,7,4

In [9]:
worldcup.head(5)

,Team,Group,Previous_appearances appearances,Previous_ntitles titles,Previous_nfinals finals,Previous_nsemifinals semifinals,Current rank
0,England,A,11,0,3,5,1
1,South Africa,A,6,0,0,4,3
2,West Indies,A,11,2,3,4,8
3,Pakistan,A,11,1,2,6,6
4,New Zealand,A,11,0,1,7,4

In [10]:
results.head(5)

        date      Team_1     Team_2     Winner     Margin Ground
0   4-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  7 wickets  Dhaka
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
3   8-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  9 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka

In [16]:
df = results[(results['Team_1'] == 'India')|(results['Team_2'] == 'India')]
india = df.iloc[:]#iloc gets rows (or columns) at particular positions in the index (so it only takes integers)
india.head()

        date      Team_1     Team_2     Winner     Margin Ground
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka
5  11-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
6  13-Jan-10       India  Sri Lanka  Sri Lanka  4 wickets  Dhaka

In [13]:
df = results[(results['Team_1'] == 'Pakistan')|(results['Team_2'] == 'Pakistan')]
Pakistan = df.iloc[:]#iloc gets rows (or columns) at particular positions in the index (so it only takes integers)
Pakistan.head()

         date     Team_1    Team_2     Winner     Margin    Ground
7   22-Jan-10  Australia  Pakistan  Australia  5 wickets  Brisbane
8   24-Jan-10  Australia  Pakistan  Australia   140 runs    Sydney
9   26-Jan-10  Australia  Pakistan  Australia    40 runs  Adelaide
10  29-Jan-10  Australia  Pakistan  Australia   135 runs     Perth
11  31-Jan-10  Australia  Pakistan  Australia  2 wickets     Perth

In [19]:
india.head()

        date      Team_1     Team_2     Winner     Margin Ground
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka
5  11-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
6  13-Jan-10       India  Sri Lanka  Sri Lanka  4 wickets  Dhaka

In [21]:
#narrowing to team patcipating in the world cup
worldcup_teams = ['England', ' South Africa', '', 'West Indies', 
            'Pakistan', 'New Zealand', 'Sri Lanka', 'Afghanistan', 
            'Australia', 'Bangladesh', 'India']
df_teams_1 = results[results['Team_1'].isin(worldcup_teams)]
df_teams_2 = results[results['Team_2'].isin(worldcup_teams)]
df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams.count()

date      1445
Team_1    1445
Team_2    1445
Winner    1445
Margin    1368
Ground    1445
dtype: int64

In [22]:
#dropping columns that wll not affect match outcomes
df_teams_2010 = df_teams.drop(['date','Margin', 'Ground'], axis=1)
df_teams_2010.head()

       Team_1     Team_2     Winner
0  Bangladesh  Sri Lanka  Sri Lanka
1       India  Sri Lanka  Sri Lanka
2  Bangladesh      India      India
3  Bangladesh  Sri Lanka  Sri Lanka
4       India  Sri Lanka      India

In [23]:
#Building the model
#the prediction label: The winning_team column will show "1" Team 1 has won and "2" if the away team has won.

df_teams_2010 = df_teams_2010.reset_index(drop=True)
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_1,'winning_team']=1
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_2, 'winning_team']=2
df_teams_2010 = df_teams_2010.drop(['winning_team'], axis=1)

df_teams_2010.head()

       Team_1     Team_2     Winner
0  Bangladesh  Sri Lanka  Sri Lanka
1       India  Sri Lanka  Sri Lanka
2  Bangladesh      India      India
3  Bangladesh  Sri Lanka  Sri Lanka
4       India  Sri Lanka      India

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
#convert team-1 and team-2 from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(df_teams_2010, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

# Separate X and y sets
X = final.drop(['Winner'], axis=1)
y = final["Winner"]


# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [25]:
final.head()

,Winner,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Sri Lanka,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,India,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [26]:
final

,Winner,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Sri Lanka,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,India,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5,India,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Sri Lanka,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
11,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
12,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,no result,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,Afghanistan,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Canada,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
23,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
24,South Africa,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,England,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,England,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,New Zealand,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Zimbabwe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,England,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1416,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1417,West Indies,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1418,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1419,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1420,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1421,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1422,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1423,India,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1424,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1425,England,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1426,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1427,no result,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1428,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1429,England,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1430,England,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1431,Australia,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1432,England,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1433,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1434,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1435,South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1436,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1437,South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1438,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1439,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1440,New Zealand,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1441,South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1442,Pakistan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1443,India,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1444,India,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [27]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.700
Test set accuracy:  0.675